<p><%= year %> Kirill Kozyrev <%= github_url(author: "fkyeaseaking", repo: "TestGuru", name: "TestGuru") %></p>
<p><%= link_to "Training project in online school Thinknetica", "https://thinknetica.com", target: "_blank", rel: "nofollow" %></p>
