<p><%= year %> Kirill Kozyrev <%= link_to "Test Guru", github_url("fkyeaseaking", "TestGuru"), target: "_blank", rel: "nofollow" %></p>
<p><%= link_to "Training project in online school Thinknetica", "https://thinknetica.com", target: "_blank", rel: "nofollow" %></p>
